*{
    margin:0;
    padding:0;
}
body{
    background-color:#fff;
 
}
a:link{
    text-decoration:none;
}
ul{
   margin:auto;
}
ul li{
    display:inline-block;
    margin: 0 5px;
    font-weight:bold;
}
ul li:first-child{
    margin:0 5px 0 10px;
}
ul li:last-child{
    margin:0 10px 0 20px;
    color:grey;
}
/* Classes */
.wrapper{
    display:grid;
}
.tiles{
    border-radius:10px;
    height:150px;
    padding:15px;
    background-color: #FFFF;
   /* box-shadow:0px 1px 2px 0px  rgba(0,0,0,0.2),
               0px 2px 5px 0px #95D2BA;
               */
}
.button{
    border-radius:50px;
    padding:10px 20px 10px 20px;
    Background-color:#FF634D;;
    color:#ffffff;
}
.button:hover{
    background-color: #FAECE6;
    color:#FF634D;
}
.button>a{
    color:#fff;
}
.button1{
    border: 2px solid #fff;
    padding:10px 20px 10px 20px;
    color:#ffffff;
    
}
.button1:hover{
    background-color: #FAECE6;
    color:#FF634D;
}
.button1>a{
    color:#fff;
}
.header{
    background: url(banner12.jpg);;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    Background-color:#FF634D;
    color:#ffffff;
    
}
.site_title{
    color:#ffffff;
}
.sub-head{
    color:rgb(255, 233, 233);
}
.highlighter{
 color:#95D2BA;
 text-shadow:10px #fff;
}
.highlighter2{
    color:#ff634d;
    text-shadow:10px #fff;
   }
.tile_title{
    color:#000000;
    font-weight:bold;
}
.tile_content{
    display:none;
}
.contact-form{
    background-color: #95D2BA;
    color:#fff;
    font-size:30px;
}
.footer{
    background-color:#FF634D;
    color:#fff;
}
.center{
    margin:auto;
}
/*gaps*/
.gp{
    grid-gap:10px;
}
.gp-1{
    grid-gap:20px;
}
.gp-2{
    grid-gap:30px;
}
.gp-3{
    grid-gap:40px;
}
.gp-4{
    grid-gap:50px;
}
.gp-5{
    grid-gap:60px;
}
/* font */
.fs{
    font-size:10px;
}
.fs-1{
    font-size:20px
}
.fs-2{
    font-size:30px;
}
.fs-3{
    font-size:45px;
}
.fs-4{
    font-size:50px;
}
.fs-5{
    font-size:60px;
}
/* align-content*/
.ac-center{
    display:grid;
    align-content:center;
}
.ac-spacebetween{
    display:grid;
    align-content:space-between;
}
.ac-start{
    display:grid;
    align-content:start;
}
.ac-end{
    display:grid;
    align-content:end;
}
.ac-spacearound{
    display:grid;
    align-content:space-around;
}
.ac-spaceevenly{
    display:grid;
    align-content:space-evenly;
}
/*Bg-color*/
.bg{
    background-color:#fff;
}
.bg-1{
    background-color:#000;
}
.bg-2{
    Background-color:#f8f8f8;
}
/* columns */
.col{
    grid-template-columns:100%;
}
.col-2{
    display:grid;
    grid-template-columns:auto auto;
}
.col-2-1{
    display:grid;
    grid-template-columns:auto 2fr;
}
.col-3{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.col-3-1{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
}
.col-4{
    display:grid;
    grid-template-columns:auto auto auto auto;
}
/* Rows */
.row-2{
    display:grid;
    grid-template-rows: auto auto;
}
.row-2-1{
    display:grid;
    grid-template-rows: 50px 550px;
}
.row-3{
    display:grid;
    grid-template-rows: auto auto auto;
}
.row-3-1{
    display:grid;
    grid-template-rows: 50px 500px 50px;
}
/* Border */
.bd{
    border:1px solid black;
}
.bd-1{
    border:2px solid black;
}
.bd-2{
    border:3px solid black;
}
.bd-3{
    border:4px solid black;
}
.bd-4{
    border:5px solid black;
}
.bd-5{
    border:6px solid black;
}
/*Padding*/
.pd{
    padding:10px;
}
.pd-t{
    padding-top:10px;
}
.pd-r{
    padding-right:10px;
}
.pd-b{
    padding-bottom:10px;
}
.pd-l{
    padding-left:10px;
}

.pd-1{
    padding:20px;
}
.pd-t-1{
    padding-top:20px;
}
.pd-r-1{
    padding-right:20px;
}
.pd-b-1{
    padding-bottom:20px;
}
.pd-l-1{
    padding-left:20px;
}

.pd-2{
    padding:30px;
}
.pd-t-2{
    padding-top:30px;
}
.pd-r-2{
    padding-right:30px;
}
.pd-b-2{
    padding-bottom:30px;
}
.pd-l-2{
    padding-left:30px;
}

.pd-3{
    padding:40px;
}
.pd-t-3{
    padding-top:40px;
}
.pd-r-3{
    padding-right:40px;
}
.pd-b-3{
    padding-bottom:40px;
}
.pd-l-3{
    padding-left:40px;
}

.pd-4{
    padding:50px;
}
.pd-t-4{
    padding-top:50px;
}
.pd-r-4{
    padding-right:50px;
}
.pd-b-4{
    padding-bottom:50px;
}
.pd-l-4{
    padding-left:50px;
}

.pd-5{
    padding:60px;
}
.pd-t-5{
    padding-top:60px;
}
.pd-r-5{
    padding-right:60px;
}
.pd-b-5{
    padding-bottom:60px;
}
.pd-l-5{
    padding-left:60px;
}
/*Margin*/
.mr{
    margin:10px;
}
.mr-t{
    margin-top:10px;
}
.mr-r{
    margin-right:10px;
}
.mr-b{
    margin-bottom:10px;
}
.mr-l{
    margin-left:10px;
}
.mr-1{
    margin:20px;
}
.mr-t-1{
    margin-top:20px;
}
.mr-r-1{
    margin-right:20px;
}
.mr-b-1{
    margin-bottom:20px;
}
.mr-l-1{
    margin-left:20px;
}
.mr-2{
    margin:30px;
}
.mr-t-2{
    margin-top:30px;
}
.mr-r-2{
    margin-right:30px;
}
.mr-b-2{
    margin-bottom:30px;
}
.mr-l-2{
    margin-left:30px;
}
.mr-3{
    margin:40px;
}
.mr-t-3{
    margin-top:40px;
}
.mr-r-3{
    margin-right:40px;
}
.mr-b-3{
    margin-bottom:40px;
}
.mr-l-3{
    margin-left:40px;
}
.mr-4{
    margin:50px;
}
.mr-t-4{
    margin-top:50px;
}
.mr-r-4{
    margin-right:50px;
}
.mr-b-4{
    margin-bottom:50px;
}
.mr-l-4{
    margin-left:50px;
}
.mr-5{
    margin:60px;
}
.mr-t-5{
    margin-top:60px;
}
.mr-r-5{
    margin-right:60px;
}
.mr-b-5{
    margin-bottom:60px;
}
.mr-l-5{
    margin-left:60px;
}
/*Menu Bar */
.overlay{
    position:fixed;
    height:100%;
    width:0;
    z-index:1;
    left:0;
    top:0;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition:0.3s;
}
.overlay a{
    text-decoration: none;
    color:aliceblue;
    font-size:32px;

}
.overlay a:hover, .overlay a:focus{
    color:coral;
}
.overlay_menu{
    position:relative;
    width:100;
    display:block;
    text-align:center;
    top:25%;
    margin-top:30px;
}
.overlay .closebtn{
    position:absolute;
    right:35px;
    top:10px;
    font-size:60px;
}
.menu{
    padding:10px;

}
.menu-bar{
    border-top:4px solid #fff;
    padding-bottom:5px;
    width:30px;
}
.menu-item{
    padding:10px;
}
.menu-col-2-1{
    display:grid;
    grid-template-columns:2fr auto;
}
/*Extra small devices (phones, 600px and down */
@media only screen and (max-width: 600px){
    .col-2-1{
        display:grid;
        grid-template-columns:auto;
    }
    .col-2{
        display:grid;
        grid-template-columns:auto;
    }
    .col-3{
        display:grid;
        grid-template-columns: auto;
    }
    .writeUp{
        text-align:center;
    }
    .tile_title{
        text-align:center;
    }
    .tile_content{
        text-align:center;
        color:#95D2BA;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .col-2-1{
        display:grid;
        grid-template-columns:auto;
    }
    .col-2{
        display:grid;
        grid-template-columns:auto;
    }

    .writeUp{
        text-align:center;
    }
    .tile_title{
        text-align:center;
    }
    .tile_content{
        text-align:center;
        color:#95D2BA;
    }
}
/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .col-2-1{
        display:grid;
        grid-template-columns:auto auto ;
    }
    .col-2{
        display:grid;
        grid-template-columns:auto auto;
    }
    .writeUp{
        text-align:left;
    }
  
}

